/
/* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black
           * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */
/*Global*/
/* #2 #font #faces */
* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
    /*Remove ugly spacing between all components */
    padding: 0;
    margin: 0;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}
/*App bar*/
h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

/*channel area*/
ul {
    /*channels list*/
    list-style-type: none;
    background-color: white;
}

li {
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    border: 1px solid;
    border-color: #F5F5F5;
}

#selectedchannel {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}
/*tabbar*/
/*a white background
no border
a 13 px font size
To make them look right tab bar’s buttons should
each claim one-third of the available width
be 72 pixels high
have a 16-pixels distance between its content, that is icon and text, and its own border.*/
.buttondiv button {
    background-color: white;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 16px;
    height: max72px;
    border: none;
    width: 33vw;
    font-size: 13px;
    line-height: 28px;
}

div button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

#firstbutton {
    border-bottom: 4px solid #3F51B5;
}

#secondbutton {
    margin-left: -8px;
}

#thirdbutton {
    margin-left: -16px;
}
/*messages*/
/*Message container (width 80%; margin-bottom 8px)
Message metadata (font-size medium)
Message text (background white, padding 16 px)
Message button (background CDDC39; black text color; transform text to uppercase)
Message emphasised information (font size larger; font style normal)*/
p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px;
}

strong a {
    margin-left: -16px;
    color: black;
    vertical-align: bottom;
    /* #2 #font #locations need an extra element, we'll use strong for w3w locations */
}
/* buttons and location uppercase, in one rule*/
strong, button {
    text-transform: uppercase;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    /* #2 #font capital #letters */
}

h3 {
    /* #2 #font #metadata is now medium */
    font-size: medium;
}

em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

.metadata {
    width: 80vw;
    margin-bottom: 8px;
}
/* insted of "strong a {color: initial; text-decoration:none;
}"*/
.metadata, h3 {
    color: black;
    margin-left: 2.5vw;
    margin: 16px;
}

#firstmetadata {
    margin-left: 17.5vw
}

</script >
</body >
</html >
jsbin.saririz.css
/*Global*/
/* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black
           * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */
/*Global*/
/* #2 #font #faces */
* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
    /*Remove ugly spacing between all components */
    padding: 0;
    margin: 0;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}
/*App bar*/
h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}


/*channel area*/

ul {
    /*channels list*/
    list-style-type: none;
    background-color: #F5F5F5;
}

li {
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    border: 1px solid;
    border-color: #F5F5F5;
    background-color: white;
}

#selectedchannel {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}

/*tabbar*/

/*a white background
no border
a 13 px font size
To make them look right tab bar’s buttons should
each claim one-third of the available width
be 72 pixels high
have a 16-pixels distance between its content, that is icon and text, and its own border.*/

.buttondiv button {
    background-color: white;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 16px;
    height: max72px;
    border: none;
    width: 33vw;
    font-size: 13px;
    line-height: 28px;
}

div button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

#firstbutton {
    border-bottom: 4px solid #3F51B5;
}

#secondbutton {
    margin-left: 0px;
}

#thirdbutton {
    margin-left: 0px;
}



/*messages*/
/*Message container (width 80%; margin-bottom 8px)
Message metadata (font-size medium)
Message text (background white, padding 16 px)
Message button (background CDDC39; black text color; transform text to uppercase)
Message emphasised information (font size larger; font style normal)*/


p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px;
}

strong a {
    margin-left: -16px;
    color: black;
    vertical-align: bottom;
    /* #2 #font #locations need an extra element, we'll use strong for w3w locations */
}

/* buttons and location uppercase, in one rule*/
strong, button {
    text-transform: uppercase;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    /* #2 #font capital #letters */
}

h3 {
    /* #2 #font #metadata is now medium */
    font-size: medium;
}

em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

.metadata {
    width: 80vw;
    margin-bottom: 8px;
}
/* insted of "strong a {color: initial; text-decoration:none;
}"*/
.metadata, h3 {
    color: black;
    margin-left: 2.5vw;
    margin: 16px;
}

#firstmetadata {
    margin-left: 17.5vw
}
